In [1]:
import pandas as pd

In [46]:
class AnaliseDeDadosComPandasI():
    """
        Analise De Dados Com Pandas I
    """
    def __init__(self):
        self.path = r'../DataFrame/credit_card_clients_2.csv'
        self.credit = pd.read_csv(
            self.path
        )

    def retorna_com_true_os_valores_vazios(self):
        print(self.credit.isnull())

    def retorna_com_true_os_valores_n√£o_vazios(self):
        print(self.credit.notnull())

    def somando_os_valores_nulos(self):
        print(self.credit.isnull().sum())
    
    def filtrando_os_valores_nulos(self):
        print(self.credit[self.credit['ID'].isnull()])

    def excluindo_as_linhas_nulas(self):
        credit = self.credit
        print(credit[credit['ID'].notna()])
    
    def excluindo_valores_nulos(self):
        credit = self.credit
        print(credit.dropna(how='all'))

In [47]:
if __name__ == '__main__':
    analise_de_dados_com_pandas_i = AnaliseDeDadosComPandasI()
    analise_de_dados_com_pandas_i.retorna_com_true_os_valores_vazios()
    analise_de_dados_com_pandas_i.retorna_com_true_os_valores_n√£o_vazios()
    analise_de_dados_com_pandas_i.somando_os_valores_nulos()
    analise_de_dados_com_pandas_i.filtrando_os_valores_nulos()
    analise_de_dados_com_pandas_i.excluindo_as_linhas_nulas()
    analise_de_dados_com_pandas_i.excluindo_valores_nulos()

          ID  LIMIT_BAL    SEX  EDUCATION  MARRIAGE    AGE  PAY_0  PAY_2  \
0      False      False  False      False     False  False  False  False
1      False      False  False      False     False  False  False  False
2      False      False  False      False     False  False  False  False
3      False      False  False      False     False  False  False  False
4      False      False  False      False     False  False  False  False
...      ...        ...    ...        ...       ...    ...    ...    ...
30012  False       True   True       True      True   True   True   True
30013  False       True   True       True      True   True   True   True
30014  False       True   True       True      True   True   True   True
30015  False       True   True       True      True   True   True   True
30016  False      False  False      False     False  False  False  False

       PAY_3  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0      False  False  ...      False      False      False     False     False
1      False  False  ...      False      False      False     False     False
2      False  False  ...      False      False      False     False     False
3      False  False  ...      False      False      False     False     False
4      False  False  ...      False      False      False     False     False
...      ...    ...  ...        ...        ...        ...       ...       ...
30012   True   True  ...       True       True       True      True      True
30013   True   True  ...       True       True       True      True      True
30014   True   True  ...       True       True       True      True      True
30015   True   True  ...       True       True       True      True      True
30016  False  False  ...      False      False      False     False     False

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
0         False     False     False     False                       False
1         False     False     False     False                       False
2         False     False     False     False                       False
3         False     False     False     False                       False
4         False     False     False     False                       False
...         ...       ...       ...       ...                         ...
30012      True      True      True      True                        True
30013      True      True      True      True                        True
30014      True      True      True      True                        True
30015      True      True      True      True                        True
30016     False     False     False     False                       False

[30017 rows x 25 columns]
         ID  LIMIT_BAL    SEX  EDUCATION  MARRIAGE    AGE  PAY_0  PAY_2  \
0      True       True   True       True      True   True   True   True
1      True       True   True       True      True   True   True   True
2      True       True   True       True      True   True   True   True
3      True       True   True       True      True   True   True   True
4      True       True   True       True      True   True   True   True
...     ...        ...    ...        ...       ...    ...    ...    ...
30012  True      False  False      False     False  False  False  False
30013  True      False  False      False     False  False  False  False
30014  True      False  False      False     False  False  False  False
30015  True      False  False      False     False  False  False  False
30016  True       True   True       True      True   True   True   True

       PAY_3  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0       True   True  ...       True       True       True      True      True
1       True   True  ...       True       True       True      True      True
2       True   True  ...       True       True       True      True      True
3       True   True  ...       True       True       True      True      True
4       True   True  ...       True       True       True      True      True
...      ...    ...  ...        ...        ...        ...       ...       ...
30012  False  False  ...      False      False      False     False     False
30013  False  False  ...      False      False      False     False     False
30014  False  False  ...      False      False      False     False     False
30015  False  False  ...      False      False      False     False     False
30016   True   True  ...       True       True       True      True      True

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
0          True      True      True      True                        True
1          True      True      True      True                        True
2          True      True      True      True                        True
3          True      True      True      True                        True
4          True      True      True      True                        True
...         ...       ...       ...       ...                         ...
30012     False     False     False     False                       False
30013     False     False     False     False                       False
30014     False     False     False     False                       False
30015     False     False     False     False                       False
30016      True      True      True      True                        True

[30017 rows x 25 columns]
ID                             0
LIMIT_BAL                     14
SEX                           14
EDUCATION                     14
MARRIAGE                      14
AGE                           14
PAY_0                         14
PAY_2                         14
PAY_3                         14
PAY_4                         14
PAY_5                         14
PAY_6                         14
BILL_AMT1                     14
BILL_AMT2                     14
BILL_AMT3                     14
BILL_AMT4                     14
BILL_AMT5                     14
BILL_AMT6                     14
PAY_AMT1                      14
PAY_AMT2                      14
PAY_AMT3                      14
PAY_AMT4                      14
PAY_AMT5                      14
PAY_AMT6                      14
default payment next month    14
dtype: int64
Empty DataFrame
Columns: [ID, LIMIT_BAL, SEX, EDUCATION, MARRIAGE, AGE, PAY_0, PAY_2, PAY_3, PAY_4, PAY_5, PAY_6, BILL_AMT1, BILL_AMT2, BILL_AMT3, BILL_AMT4, BILL_AMT5, BILL_AMT6, PAY_AMT1, PAY_AMT2, PAY_AMT3, PAY_AMT4, PAY_AMT5, PAY_AMT6, default payment next month]
Index: []

[0 rows x 25 columns]
          ID  LIMIT_BAL      SEX  EDUCATION  MARRIAGE   AGE  PAY_0  PAY_2  \
0          1    20000.0      2.0        2.0       1.0  24.0    2.0    2.0
1          2   120000.0      2.0        2.0       2.0  26.0   -1.0    2.0
2          3    90000.0      2.0        2.0       2.0  34.0    0.0    0.0
3          4    50000.0      2.0        2.0       1.0  37.0    0.0    0.0
4          5    50000.0      1.0        2.0       1.0  57.0   -1.0    0.0
...      ...        ...      ...        ...       ...   ...    ...    ...
30012  30013        NaN      NaN        NaN       NaN   NaN    NaN    NaN
30013  30014        NaN      NaN        NaN       NaN   NaN    NaN    NaN
30014  30015        NaN      NaN        NaN       NaN   NaN    NaN    NaN
30015  30016        NaN      NaN        NaN       NaN   NaN    NaN    NaN
30016  30017    30018.0  29999.0    30000.0    5000.0   0.0    1.0    2.0

       PAY_3  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0       -1.0   -1.0  ...        0.0        0.0        0.0       0.0     689.0
1        0.0    0.0  ...     3272.0     3455.0     3261.0       0.0    1000.0
2        0.0    0.0  ...    14331.0    14948.0    15549.0    1518.0    1500.0
3        0.0    0.0  ...    28314.0    28959.0    29547.0    2000.0    2019.0
4       -1.0    0.0  ...    20940.0    19146.0    19131.0    2000.0   36681.0
...      ...    ...  ...        ...        ...        ...       ...       ...
30012    NaN    NaN  ...        NaN        NaN        NaN       NaN       NaN
30013    NaN    NaN  ...        NaN        NaN        NaN       NaN       NaN
30014    NaN    NaN  ...        NaN        NaN        NaN       NaN       NaN
30015    NaN    NaN  ...        NaN        NaN        NaN       NaN       NaN
30016    1.0   46.0  ...        0.0        0.0        0.0       0.0       0.0

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
0           0.0       0.0       0.0       0.0                         1.0
1        1000.0    1000.0       0.0    2000.0                         1.0
2        1000.0    1000.0    1000.0    5000.0                         0.0
3        1200.0    1100.0    1069.0    1000.0                         0.0
4       10000.0    9000.0     689.0     679.0                         0.0
...         ...       ...       ...       ...                         ...
30012       NaN       NaN       NaN       NaN                         NaN
30013       NaN       NaN       NaN       NaN                         NaN
30014       NaN       NaN       NaN       NaN                         NaN
30015       NaN       NaN       NaN       NaN                         NaN
30016   49764.0   36535.0   32428.0   15313.0                      2078.0

[30017 rows x 25 columns]
          ID  LIMIT_BAL      SEX  EDUCATION  MARRIAGE   AGE  PAY_0  PAY_2  \
0          1    20000.0      2.0        2.0       1.0  24.0    2.0    2.0
1          2   120000.0      2.0        2.0       2.0  26.0   -1.0    2.0
2          3    90000.0      2.0        2.0       2.0  34.0    0.0    0.0
3          4    50000.0      2.0        2.0       1.0  37.0    0.0    0.0
4          5    50000.0      1.0        2.0       1.0  57.0   -1.0    0.0
...      ...        ...      ...        ...       ...   ...    ...    ...
30012  30013        NaN      NaN        NaN       NaN   NaN    NaN    NaN
30013  30014        NaN      NaN        NaN       NaN   NaN    NaN    NaN
30014  30015        NaN      NaN        NaN       NaN   NaN    NaN    NaN
30015  30016        NaN      NaN        NaN       NaN   NaN    NaN    NaN
30016  30017    30018.0  29999.0    30000.0    5000.0   0.0    1.0    2.0

       PAY_3  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0       -1.0   -1.0  ...        0.0        0.0        0.0       0.0     689.0
1        0.0    0.0  ...     3272.0     3455.0     3261.0       0.0    1000.0
2        0.0    0.0  ...    14331.0    14948.0    15549.0    1518.0    1500.0
3        0.0    0.0  ...    28314.0    28959.0    29547.0    2000.0    2019.0
4       -1.0    0.0  ...    20940.0    19146.0    19131.0    2000.0   36681.0
...      ...    ...  ...        ...        ...        ...       ...       ...
30012    NaN    NaN  ...        NaN        NaN        NaN       NaN       NaN
30013    NaN    NaN  ...        NaN        NaN        NaN       NaN       NaN
30014    NaN    NaN  ...        NaN        NaN        NaN       NaN       NaN
30015    NaN    NaN  ...        NaN        NaN        NaN       NaN       NaN
30016    1.0   46.0  ...        0.0        0.0        0.0       0.0       0.0

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
0           0.0       0.0       0.0       0.0                         1.0
1        1000.0    1000.0       0.0    2000.0                         1.0
2        1000.0    1000.0    1000.0    5000.0                         0.0
3        1200.0    1100.0    1069.0    1000.0                         0.0
4       10000.0    9000.0     689.0     679.0                         0.0
...         ...       ...       ...       ...                         ...
30012       NaN       NaN       NaN       NaN                         NaN
30013       NaN       NaN       NaN       NaN                         NaN
30014       NaN       NaN       NaN       NaN                         NaN
30015       NaN       NaN       NaN       NaN                         NaN
30016   49764.0   36535.0   32428.0   15313.0                      2078.0

[30017 rows x 25 columns]