In [1]:
import pandas as pd

In [12]:
class SelecionarValoresDoDataset():
    """
        Selecionar Valores Do Dataset
    """
    def __init__(self):
        self.path = r'../Dataset_colabs/clientes_rename.xlsx'
        self.credit = pd.read_excel(
            self.path
        )
    
    def acessando_uma_coluna(self):
        print(f'\nAcessando Coluna: {self.credit["valor_credito"]}')
    
    def acessando_uma_coluna_de_outra_forma(self):
        print(f'\nAcessando Coluna: {self.credit}')

    def acessando_varias_colunas(self):
        print(f'\nAcessando Coluna:\n {self.credit[["valor_credito", "nivel_escolaridade"]]}')
    
    def filtrando_colunas(self):
        filtro = self.credit.filter(
            like='pag'
        )
        print(f'\nAcessando Coluna: {filtro}')

In [14]:
if __name__ == '__main__':
    selecionar_valores_do_dataset = SelecionarValoresDoDataset()
    selecionar_valores_do_dataset.acessando_uma_coluna()
    selecionar_valores_do_dataset.acessando_uma_coluna_de_outra_forma()
    selecionar_valores_do_dataset.acessando_varias_colunas()
    selecionar_valores_do_dataset.filtrando_colunas()

Acessando Coluna: 0         20000
1        120000
2         90000
3         50000
4         50000
          ...
29995    220000
29996    150000
29997     30000
29998     80000
29999     50000
Name: valor_credito, Length: 30000, dtype: int64

Acessando Coluna:        Unnamed: 0     ID  valor_credito  sexo  nivel_escolaridade  \
0               0      1          20000     2                   2
1               1      2         120000     2                   2
2               2      3          90000     2                   2
3               3      4          50000     2                   2
4               4      5          50000     1                   2
...           ...    ...            ...   ...                 ...
29995       29995  29996         220000     1                   3
29996       29996  29997         150000     1                   3
29997       29997  29998          30000     1                   2
29998       29998  29999          80000     1                   3
29999       29999  30000          50000     1                   2

       estado_civil  idade  status_pag_set_2005  status_pag_ago_2005  \
0                 1     24                    2                    2
1                 2     26                   -1                    2
2                 2     34                    0                    0
3                 1     37                    0                    0
4                 1     57                   -1                    0
...             ...    ...                  ...                  ...
29995             1     39                    0                    0
29996             2     43                   -1                   -1
29997             2     37                    4                    3
29998             1     41                    1                   -1
29999             1     46                    0                    0

       status_pag_jul_2005  ...  extrato_jul_2005  extrato_jun_2005  \
0                       -1  ...               689                 0
1                        0  ...              2682              3272
2                        0  ...             13559             14331
3                        0  ...             49291             28314
4                       -1  ...             35835             20940
...                    ...  ...               ...               ...
29995                    0  ...            208365             88004
29996                   -1  ...              3502              8979
29997                    2  ...              2758             20878
29998                    0  ...             76304             52774
29999                    0  ...             49764             36535

       extrato_mai_2005  extrato_abr_2005  valor_pag_set_2005  \
0                     0                 0                   0
1                  3455              3261                   0
2                 14948             15549                1518
3                 28959             29547                2000
4                 19146             19131                2000
...                 ...               ...                 ...
29995             31237             15980                8500
29996              5190                 0                1837
29997             20582             19357                   0
29998             11855             48944               85900
29999             32428             15313                2078

       valor_pag_ago_2005  valor_pag_jul_2005  valor_pag_jun_2005  \
0                     689                   0                   0
1                    1000                1000                1000
2                    1500                1000                1000
3                    2019                1200                1100
4                   36681               10000                9000
...                   ...                 ...                 ...
29995               20000                5003                3047
29996                3526                8998                 129
29997                   0               22000                4200
29998                3409                1178                1926
29999                1800                1430                1000

       valor_pag_mai_2005  valor_pag_abr_2005
0                       0                   0
1                       0                2000
2                    1000                5000
3                    1069                1000
4                     689                 679
...                   ...                 ...
29995                5000                1000
29996                   0                   0
29997                2000                3100
29998               52964                1804
29999                1000                1000

[30000 rows x 25 columns]

Acessando Coluna:
        valor_credito  nivel_escolaridade
0              20000                   2
1             120000                   2
2              90000                   2
3              50000                   2
4              50000                   2
...              ...                 ...
29995         220000                   3
29996         150000                   3
29997          30000                   2
29998          80000                   3
29999          50000                   2

[30000 rows x 2 columns]

Acessando Coluna:        status_pag_set_2005  status_pag_ago_2005  status_pag_jul_2005  \
0                        2                    2                   -1
1                       -1                    2                    0
2                        0                    0                    0
3                        0                    0                    0
4                       -1                    0                   -1
...                    ...                  ...                  ...
29995                    0                    0                    0
29996                   -1                   -1                   -1
29997                    4                    3                    2
29998                    1                   -1                    0
29999                    0                    0                    0

       status_pag_jun_2005  status_pag_mai_2005  status_pag_abr_2005  \
0                       -1                   -2                   -2
1                        0                    0                    2
2                        0                    0                    0
3                        0                    0                    0
4                        0                    0                    0
...                    ...                  ...                  ...
29995                    0                    0                    0
29996                   -1                    0                    0
29997                   -1                    0                    0
29998                    0                    0                   -1
29999                    0                    0                    0

       valor_pag_set_2005  valor_pag_ago_2005  valor_pag_jul_2005  \
0                       0                 689                   0
1                       0                1000                1000
2                    1518                1500                1000
3                    2000                2019                1200
4                    2000               36681               10000
...                   ...                 ...                 ...
29995                8500               20000                5003
29996                1837                3526                8998
29997                   0                   0               22000
29998               85900                3409                1178
29999                2078                1800                1430

       valor_pag_jun_2005  valor_pag_mai_2005  valor_pag_abr_2005
0                       0                   0                   0
1                    1000                   0                2000
2                    1000                1000                5000
3                    1100                1069                1000
4                    9000                 689                 679
...                   ...                 ...                 ...
29995                3047                5000                1000
29996                 129                   0                   0
29997                4200                2000                3100
29998                1926               52964                1804
29999                1000                1000                1000

[30000 rows x 12 columns]